<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bistudio.minidayz.plus" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MiniDayZ Plus</name>
    <description>
        How long can you survive?
    </description>
    <author email="@" href="https://minidayz.com">
        Bohemia Interactive a.s., Altero
    </author>
    <icon density="xxxhdpi" height="256" src="www/icon-256.png" width="256" />
    <icon density="xhdpi" height="128" src="www/icon-128.png" width="128" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <preference name="orientation" value="landscape" />
    <preference name="fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
</widget>
